body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.input {
	margin-top: 30px;
	width: 120px;
}

.progress-ring__circle {
	transition: stroke-dashoffset 0.35s, stroke 1.5s;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}

.progress-ring__value {
	font-size: 24px;
	font-weight: bold;
	fill: gray;
}
